@import "tailwindcss";

:root {
  --background: #eceaef;
  --foreground: #1a161f;
  --card: #ffffff;

  --brand: #3a314a;
  --brand-light: #7c6f8a;
  --accent: #d4af37;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0f0d13;
    --foreground: #e4e2e7;
    --card: #1a161f;

    --brand: #a394b9;
    --accent: #f3d371;
  }
}

@theme {
  --color-brand: var(--brand); /* headings */
  --color-brand-light: var(--brand-light);
  --color-accent: var(--accent); /* buttons */

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--card); /* cards */

  --font-sans: var(--font-gsans);
  --font-serif: var(--font-crimson);
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }

  .btn-primary {
    @apply bg-brand cursor-pointer text-white transition hover:opacity-90 active:scale-95;
  }

  .focus-ring-primary {
    @apply focus-visible:ring-brand-light focus-visible:ring-2 focus-visible:ring-offset-3 focus-visible:outline-none;
  }
}
